<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.menggp.abdcalendar">

    <application
        android:icon="@drawable/logo_calendar_big"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_calendar_big"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="false">

        <!-- Основная активити -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Информационая карточка события -->
        <activity
            android:name=".EventActivityInfo"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="com.menggp.SHOW_EVENT_ACTIVITY_INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Редактор события -->
        <activity
            android:name=".EventActivityEdit"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="com.menggp.SHOW_EVENT_ACTIVITY_EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Активити настроек -->
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="com.menggp.SHOW_SETTINGS_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Активити информации о приложении -->
        <activity
            android:name=".AboutProgramActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="com.menggp.SHOW_ABOUT_PROGRAM_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>